<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Linha responsavel por ler uma regra @ no css -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy</title>
    <link rel="icon" href="/images/logo-icon.png" rel="Logo da Happy">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/page-landing.css">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">


</head>

<body>
    <div id="page-landing">

        <div id="container">

            <header>

                <img #id="logo" class="animation-up" src="/images/logo.svg" alt="">

                <div class="location animation-up">
                    <strong> São Luís</strong>
                    <p>Maranhão</p>
                </div>

            </header>
            <main>

                <h1 class="animation-up">Leve felicidade para o mundo</h1>

                <section class="visit">

                    <p class="animation-up">Visite orfanatos e mude o dia de muitas crianças</p>
                    <a href="/orphanages" class="animation-up">
                        <img src="/images/arrow.svg" alt="Ir para o maapa">
                    </a>

                </section>

            </main>
        </div>
    </div>

</body>

</html>
<!-- <div id="page-landing">

      <div className="content-wrapper">

        <img src={logoImg} alt="Logo do Happy"/>

        <main>
          <h1>Leve felicidade para o mundo</h1>
          <p>Visite orfanatos e mude o dia de muitas crianças</p>

          <div className="location">
            <strong>São Luís</strong>
            <span>Maranhão</span>
          </div>

          <Link to="/app" className="enter-app">
            <FiArrowRight size={26} color="rgba(0,0,0,0.9)"/>
          </Link>

        
        </main>
      </div>
   
    </div> -->